<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="EventsViewer.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    @* see program.cs, holds enironment variables *@
    <script src="/js/config.js"></script>
    @* https://fullcalendar.io/docs/initialize-browser-esm *@
    <script type='importmap'>
      {
        "imports": {
          "@@fullcalendar/core": "https://cdn.skypack.dev/@@fullcalendar/core@6.1.20",
          "@@fullcalendar/daygrid": "https://cdn.skypack.dev/@@fullcalendar/daygrid@6.1.20",
          "@@fullcalendar/timegrid": "https://cdn.skypack.dev/@@fullcalendar/timegrid@6.1.20"
        }
      }
    </script>
    <script type="module" src="js/calendar.js"></script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>


@* // Suggested calendar libraries:
// https://fullcalendar.io/ (verified free version will work)
// https://github.com/kewisch/ical.js/ (just an ical parsing library)
// https://ui.toast.com/tui-calendar (is free, maybe could work)
// https://styledcalendar.com/ *@

