body {
	overflow-x: hidden;
	margin: 0px;
	padding: 8px;
}

li {
	margin: 8px;
}

@media (prefers-color-scheme: light) {
	body {
		background: SeaShell;
		color: black;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #000;
		color: white;
	}
	a:link {
		color: #00ff00;
		background-color: transparent;
	}
	a:visited {
		color: #00DD00;
		background-color: transparent;
	}
	a:hover {
		color: red;
		background-color: transparent;
		text-decoration: underline;
	}
	a:active {
		color: yellow;
		background-color: transparent;
		text-decoration: underline;
	}
}
