@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <FilterComponent @rendermode="RenderMode.InteractiveAuto" />
        </div>
        <div class="col-md-6">
            <CalendarComponent @rendermode="RenderMode.InteractiveAuto" />
        </div>
        <div class="col-md-6">
            <MapComponent @rendermode="RenderMode.InteractiveAuto" />
        </div>
    </div>
</div>

@code {
    // download https://raw.githubusercontent.com/jeffkaufman/trycontra/refs/heads/master/dances.json
    
}