@page "/about"
@rendermode InteractiveAuto

	@* // Booking tool:
	//https://github.com/kewisch/ical.js/
	//https://fullcalendar.io/
	//https://ui.toast.com/tui-calendar
	//https://styledcalendar.com/ *@

<PageTitle>About</PageTitle>

<h1>About</h1>

This is a project of <a href='https://CommonFloorContra.dance'>Common Floor Contra Dance</a>,
partially funded by a generous grant from <a href='https://www.cdss.org'>CDSS</a>. It was created by
<a href="hennings.earth">Alex Hennings</a>, using <a href='https://trycontra.com'>TryContra.com</a> as the primary datasource.
<br />
<img src='images/CDSS-horiz-color.png' alt='CDSS Logo' style='height:100px;' />
