@page "/about"
@rendermode InteractiveAuto

	@* // Booking tool:
	//https://github.com/kewisch/ical.js/
	//https://fullcalendar.io/
	//https://ui.toast.com/tui-calendar
	//https://styledcalendar.com/ *@

<PageTitle>About</PageTitle>

<h1>For Dancers</h1>

See local events in your calendar app using the subscribe button. These events will update as organizers publish changes.

<h1>For Performers</h1>

<b>TLDR;</b> search for "band tbd" and "caller tbd" (and maybe "sound tbd") to find events looking for performers.

<h1>For Organizers</h1>

<b>TLDR;</b> publish a google (or other ical compliant) calendar for your events with a reoccuring templated event with the title
or description having the phrases "band tbd" and "caller tbd" (and maybe "sound tbd") and information or a link for booking details
(and any other information you want to include to advertise you event). When you book performers, update the event instance with
those details. Share your calendar's .ics link with tryContra.com and your events will show up here automatically.

<h1>Credits</h1>

This is a project of <a href='https://CommonFloorContra.dance'>Common Floor Contra Dance</a>,
partially funded by a generous grant from <a href='https://www.cdss.org'>CDSS</a>. It was written and managed by
<a href="hennings.earth">Alex Hennings</a>, using <a href='https://trycontra.com'>TryContra.com</a> as the primary datasource.
<br />
<img src='images/CDSS-horiz-color.png' alt='CDSS Logo' style='height:100px;' />
