@page "/about"
@rendermode InteractiveAuto

	@* // Booking tool:
	//https://github.com/kewisch/ical.js/
	//https://fullcalendar.io/
	//https://ui.toast.com/tui-calendar
	//https://styledcalendar.com/ *@

<PageTitle>demo</PageTitle>

<h1>About</h1>

This project is partially funded by a generous grant from <a href='https://www.cdss.org'>CDSS</a>.
<br />
<img src='images/CDSS-horiz-color.png' alt='CDSS Logo' style='height:100px;' />
